.single__banner {
  position: relative;
  overflow: hidden;
  margin: 6rem 0;
  border: 4px solid #f7f7f7;
  &:hover a img {
    transform: scale(1.2);
  }
  img {
    width: 100%;
    transition: all 0.5s ease 0s;
    transform: scale(1);
  }

  .banner__content {
    position: absolute;
    top: 2.5rem;
    left: 2rem;
    content: "";

    h3 {
      font-family: "Cormorant Garamond", serif;
      margin: 0;
      font: {
        size: 2.25rem;
        weight: 600;
      }
      line-height: 1.8rem;
      color: #617d05;
    }

    h4 {
      margin: 0.25rem 0 3.25rem;
      font-family: "Cormorant Garamond", serif;
      font: {
        size: 1.125rem;
        weight: 600;
      }
      line-height: 1.5rem;
      color: #010101;
    }

    span {
      display: inline-block;
      color: #617d05;
      margin-left: 0.125rem;
      font-size: 1.25rem;
      line-height: 0.0625rem;
      position: relative;
      top: 0.125rem;
    }

    a {
      display: inline-block;
      width: 28px;
      height: 28px;
      border: 2px solid #617d05;
      border-radius: 100%;
      font-size: 1rem;
      text-align: center;
      color: #617d05;
    }
    a > i {
      line-height: 26px;
    }
  }
}
