.pe-7s-shuffle,
.pe-7s-user-female,
.pe-7s-search,
.pe-7s-like,
.pe-7s-shopbag {
  font-size: 1.3rem;
  line-height: 24px;
  position: relative;
}

.nav-link {
  font-size: 0.93rem;
  line-height: 18px;
  color: #555252 !important;
  position: relative;
  .count-style {
    font-size: 12px;
    line-height: 21px;
    position: absolute;
    top: -9px;
    right: -14px;
    display: inline-block;
    width: 21px;
    height: 21px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    background-color: #000;
  }

  &:hover {
    color: #a749ff !important ;
  }
}
.li-bar {
  width: 1px;
  background-color: #c5c4c4;
  height: 1rem;
}
hr {
  margin: 10px 0;
  color: #555252;
}

strong a {
  font-size: 0.875rem;
  line-height: 32px;
  font-weight: 500;
}

// drop down

@mixin dropdown($width, $height) {
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: $width;
  height: $height;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.5s ease 0s;
  z-index: 100;
  background: $white;
  box-shadow: 0 1px 7px -2px rgb(0 0 0/30%);
  border-radius: 4px;
  top: 50px;
}

.dropdown {
  position: relative;

  &:hover &-item {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    background: #f6f6f6;
  }

  &-item {
    @include dropdown(100px, 120px);

    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }

  &:hover &-item-1 {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    background: #f6f6f6;
  }
  &-item-1 {
    @include dropdown(190px, 350px);
    padding-right: 0rem;
    padding-left: 1.5rem;
    
    
   
  }
}

// Mega Menu

@mixin megamenu($width, $height) {
  visibility: hidden;
  box-sizing: border-box;
  opacity: 0;
  margin: 0 -20px;
  position: absolute;
  width: $width;
  height: $height;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.5s ease 0s;
  z-index: 100;
  background: $white;
  box-shadow: 0 1px 7px -2px rgb(0 0 0/30%);
  border-radius: 4px;
  top: 50px;
}

.mega-menu {
  position: relative;

  &:hover &-item {
    visibility: visible;
    opacity: 1;
    background: #f6f6f6;
    transform: scaleY(1);
  }
  &-item {
    @include megamenu(740px, 580px);
    padding: 1rem;
  }
  &:hover &-item-1 {
    visibility: visible;
    opacity: 1;
    background: #f6f6f6;
    transform: scaleY(1);
  }
  &-item-1 {
    @include megamenu(710px, 440px);
    padding: 2rem;
  }
  li {
    position: relative;
    transition: all 0.5s ease-in-out;
    &:hover {
      list-style: disc;
      color: #a749ff;
      transform: translateX(15px);
    }
  }
}
