.section__title {
  h2 {
    position: relative;
    display: inline-block;
    font: {
      size: 1.8rem;
      weight: 600;
    }
    margin: 0;
    line-height: 2.25rem;
    text-transform: uppercase;

    &::before {
      position: absolute;
      content: "";
      background: $black;
      top: 17px;
      width: 80px;
      height: 2px;
      left: -100px;
    }
    &::after {
      position: absolute;
      content: "";
      background: $black;
      top: 17px;
      width: 80px;
      height: 2px;
      right: -100px;
    }
  }
}
// Product Tab List
.product__tab__list {
  justify-content: center;
  padding-top: 1.8rem;
  padding-bottom: 3.44rem;

  .nav-link {
    background-color: transparent !important;
    margin: 0 0.4rem;
    padding: 0.5rem 0.8rem;
    display: block;
    font-size: 1rem;
  }

  a h4 {
    font-size: 1.12rem;
    font-weight: 500;
    margin: 0;
    transition: all 0.3s ease 0s;
    line-height: 1.5rem;

    &:hover {
      color: $black;
    }
  }
}

// Product wrap
.product__wrap {
  position: relative;
  margin-bottom: 1.56rem;
  a {
    line-height: inherit;
    cursor: pointer;
    text-decoration: none;
    color: $black;
  }
  .product__image {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
    .hover__image {
      position: absolute;
      top: 0%;
      left: 50%;
      visibility: hidden;
      opacity: 0;
      transition-duration: 0.7s;
      transform: translate(50%, 20px);
    }

    .product__image__badges {
      position: absolute;
      top: 12px;
      left: 12px;
      span {
        font-size: 13px;
        font-weight: 500;
        line-height: 1;
        display: block;
        margin-bottom: 10px;
        padding: 3px 10px;
        color: $white;
        border-radius: 3px;
      }
      span:last-child {
        margin-bottom: 0;
      }
      .pink {
        background: $pink;
      }
      .purple {
        background: $purple;
      }
    }
    .product__action {
      position: absolute;
      z-index: 9;
      bottom: 0px;
      left: 50%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      transform: translateX(-50%);

      .pro__same__action {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        background-color: #a749ff;
        transition: all 0.5s ease;
        transform: translateY(-20px);
        visibility: hidden;
        opacity: 0;

        button {
          font-size: 16px;
          line-height: 48px;
          display: block;
          width: 100%;
          height: 48px;
          text-align: center;
          text-transform: capitalize;
          color: $white;
          border: none;
          background: none;
          i {
            font-size: 1rem;
          }

          &:hover {
            background: $black;
          }
        }
      }

      .pro__wishlist {
        width: 48px;
        border-right: 1px solid hsla(0, 0%, 100%, 0.2);
      }

      .pro__cart {
        font-size: 14px;
        transition: 0.1s;
        width: calc(100% - 96px);
        font-size: 14px;
      }

      .pro__quickview {
        width: 48px;
        margin: 0;
        transition-delay: 0.2s;
        border-left: 1px solid hsla(0, 0%, 100%, 0.2);
      }
    }
  }

  .product__content {
    margin-top: 20px;

    h3 {
      font-size: 1rem;
      margin: 0;
    }

    .product__rating {
      margin: 3px 0;

      .yellow {
        color: $yellow;
      }
      .gray {
        color: $gray;
      }
    }

    .product__price {
      font-size: 1rem;
      font-weight: 500;
      position: relative;
      margin: 0 9px;

      .current__price {
        position: relative;
        margin: 2px 10px;

        line-height: 24px;
        font-family: "Poppins", sans-serif;
        &::after {
          position: absolute;
          content: "";
          background: $black;
          top: 10px;
          right: -15px;
          width: 8px;
          height: 2px;
        }
      }

      .old__price {
        text-decoration: line-through;
        color: #8e8e8e;
        margin: 2px 10px;
      }
    }
  }

  &:hover .hover__image {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -20px);
  }

  &:hover .product__action .pro__same__action {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
}
                