#main-carousel,
.carousel-item {
  position: relative;

  height: 580px;
  width: 100%;
  h1 {
    font-size: 4rem;
    line-height: 6rem;
    font-weight: 400;

    @include breakpoint(lg) {
      font-size: 3rem;
      line-height: 4rem;
    }
    @include breakpoint(md) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  h3 {
    font-size: 1.5rem;
  }

  a {
    position: relative;
    padding: 15px 40px;
    border: 1px solid black;
    border-radius: 0;
    transition: all 0.5s ease-in-out 0s;
    &:hover {
      color: #fff;
      border: 1px solid $theme-color;
      background: $theme-color;
    }
    &::before,
    &::after {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: "";
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &::after {
      right: 0;
      left: auto;

      width: 0;

      background: $theme-color;
    }
    &:hover::after {
      right: auto;
      left: 0;

      width: 100%;
    }
  }
}
.carousel-control-prev {
  left: -15rem;
}

.carousel-control-next {
  right: -15rem;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(100%);
}

.carousel-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 400px;
  width: 100%;
  height: 100%;
 
  @mixin bottomTotop($duration, $delay) {
    transition: all 1s ease 0s;
    animation-name: slide-content;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  .slide__content {
    @include bottomTotop(1s, 1.3s);
  }

  .slide__image {
    @include bottomTotop(1s, 1.6s);
    img {
      width: 100%;
    }
  }

  @keyframes slide-content {
    0% {
      opacity: 0;
      transform: translateY(580px);
    }
    
    100% {
      
      transform: translateY(0);
    }
  }
}
