// Google Font Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap");

// Override Bootstrap customize

$font-family-sans-serif: "Poppins", sans-serif;

// Bootstrap SASS
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #f6f6f6;
  width: 100vw;
  min-height: 100vh;
}

// .pe-7s-search:before {
//   content: "\e618";
// }
.nav-link i {
  font-size: 1.4rem;
}
.nav-link a {
  font-size: 0.875rem;
  color: #555252;
}
.li-bar {
  width: 1px;
  background-color: #c5c4c4;
  height: 1rem;
}
hr {
  margin: 0;
  color: #555252;
}
