// Google Font Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap");

// Override Bootstrap customize

$font-family-sans-serif: "Poppins", sans-serif;

// Bootstrap SASS
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";


body {
  background-color: #f6f6f6;
  max-width: 1920px;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
}
@import "nav";
@import "slider";
@import "banner";